<% content_for :title, "Admin Area" %>
<% if session[:user] == 'admin' %>
	<h4>Super Secret Information:</h4>
	<code><%= @secret %></code>
	<br>
	<br>
	<p><%= link_to('Logout', :logout => true) %></p>
<% else %>
	<%= form_tag({},{:class => 'form-inline'}) do %>
		<%= label_tag(:username, 'Username:') %>
		<%= text_field_tag(:username) %>
		<%= label_tag(:password, 'Password:') %>
		<%= password_field_tag(:password) %>
		<%= submit_tag 'Login', :class => 'btn' %>
	<% end %>
<% end %>	
