<% content_for :title, "Admin Area" %>
<% if session[:admin] %>
	<h4>Super Secret Information:</h4>
	<code><%= @secret %></code>
	<br>
	<br>
	<p><%= link_to('Logout', :logout => true) %></p>
<% else %>
	<%= form_tag(:action => :admin) do %>
		<%= label_tag(:password, 'Password:') %>
		<%= password_field_tag(:password) %>
		<%= submit_tag 'Login' %>
	<% end %>
<% end %>	
