<!DOCTYPE html>
<html>
<head>
  <title>Railspwn : <%= yield :title %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">RailsPwn</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/email">Email</a></li>
              <li><a href="/store">Store</a></li>
              <li><a href="/admin">Admin</a></li>
              <li><a href="/files">Files</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
<h2><%= yield :title %></h2>

 <% [:info, :error, :success].each do |key| %>
   <% if flash[key] %>
   <div class="<%= key %> alert alert-<%= key %>" id="flash">
     <%= flash[key] %>
   </div>
   <% end %>
 <% end %>

<%= yield %>

   </div>

</body>
</html>
